body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Noto Serif', serif;
}

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
  background-color:#ECE5E7;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 0px;

}


.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-family: 'Dancing Script', cursive;
  color: #000;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;

}

#nav-list {
  color: #000;
}
#nav-list a {
  color: #000;
  text-align: left;
  font-size: 1em;
}
#nav-list a:hover {
  background: #E7D2CC;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.container{
  width: 100%;
  padding: 0px;
  text-align: center;
  }
/* ABOUT SECTION*/
#Introduction {
  display: flex;
  align-items: center;
  background-color: #ECE5E7;
  padding: 0px 100px 50px 100px;
  width: 100%;
  padding-top: 50px;
  word-wrap: break-word;
}

img {
  max-width: 100%
}
#image{
  padding-left: 0px;
  max-width: 100%
}

#text {
  text-align: left;
  color: #000;


}
h2{
  font-size: 3em;
}
h3{
  font-size:2em;
}

a.btn-info{
  background-color:#E7D2CC;
  border: 0px;
  color: #fff;
}
span.glyphicon{
  color: #fff;
}

p{
  font-size: 1em;
}
/* END OF ntroduction*/
hr{
  width: 40px;
}
/* ABOUT SECTION */
#about{
  background-color: #fff;
  color:#000;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;
}

/* SERVICES SECTION */
#services{
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;
}
.service{
  background-color:#ECE5E7 ;
  text-align: left;
  border-radius: 25px;
  width: 100%;
  height: 300px;
  padding: 10px 50px 0px 50px;
  margin-bottom: 20px;

}

/* TOOLS SECTION */
.Tools{
  padding-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
#tools-header{
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #000;
}
#tools{
  color: #000;
}
#img1, #img2, #img3{
  padding-top: 20px;
}
/* END OF TOOLS SECTION */

/*  PROJECT SECTION */
#project-header{
  text-align: center;
}
.projects{
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;
}

.project{
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  height: 150px;
  margin: 20px 20px 20px 20px;
  background-color:#fff;
}
.project h3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color: #000;
  opacity: .8;
}
.project:hover {
  box-shadow: 5px 5px 5px 5px #E7D2CC;

}
/*SOCIALS*/
#socials{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  text-align: center;
}
ul#links{
align-content: center;
padding: 0px 20px 0px 20px;
}
li{
  list-style-type: none;
  display: inline;
  padding: 20px;
  color: #4E4F50;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #header-nav{
    padding-right: 50px;
    padding-left: 50px;
  }
  #Introduction{
    padding: 0px 50px 0px 50px;
  }
  #about{
    margin-left: 50px;
    margin-right: 50px;
  }
  #services{
    margin-left: 50px;
    margin-right: 50px;
  }
  .Tools{
    margin-left: 50px;
    margin-right: 50px;
  }
  .projects{
    margin-left: 50px;
    margin-right: 50px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #header-nav{
    padding-right: 50px;
    padding-left: 50px;
  }
  #Introduction{
    padding: 0px 50px 0px 50px;
  }
  #about{
    margin-left: 50px;
    margin-right: 50px;
  }
  #services{
    margin-left: 50px;
    margin-right: 50px;
  }
  .Tools{
    margin-left: 50px;
    margin-right: 50px;
  }
  .projects{
    margin-left: 50px;
    margin-right: 50px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px){
  #header-nav{
    padding-right: 10px;
    padding-left: 10px;
  }
  #Introduction{
    padding: 50px 10px 30px 10px;
  }
  #about{
    margin-left: 10px;
    margin-right: 10px;
  }
  #services{
    margin-left: 10px;
    margin-right: 10px;
  }
  .Tools{
    margin-left: 10px;
    margin-right: 10px;
  }
  .projects{
    margin-left: 10px;
    margin-right: 10px;
  }
}